/* body {
    padding-top: 80px;
}

main {
    padding: 20px;
    background-color: #fafafa;
} */

.navbar-custom {
    background-color: #111523;
}


/* change the brand and text color */

.navbar-custom .navbar-brand {
    color: #fafafa !important;
}


/* change the link color */

.navbar-custom .navbar-nav .nav-link {
    color: #fafafa !important;
}


/* change the color of active or hovered links */

.navbar-custom .nav-item.active .nav-link {
    color: #E3B668 !important;
}

.navbar-custom .nav-item:hover .nav-link {
    color: #CFB88F !important;
}

.pd30Cent {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.pdTB20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

img.med {
    width: 500px;
    height: 500px;
    margin-right: auto
}

.pdT10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.pdT40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.pdB80 {
    
    padding-bottom: 80px;
}

.pdT50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.mt75 {
    margin-top: 140px;
}

.mb50 {
    margin-bottom: 50px;
}

.mb20 {
    margin-bottom: 20px;
}

.cent {
    text-align: center;
}

.just {
    text-align: justify;
}

.mW6 {
    max-width: 400px;
}

img.sml {
    width: 100px;
    height: 100px;
}

img.cir {
    border-radius: 50%;
}

img.huge {
    width: 1100px;
    height: 550px;
}

.wh {
    color: #FAFAEB;
}

.bg {
    color: #CFB88F;
}

.rd {
    color: #AD3D2B;
}

.yw {
    color: #E3B668;
}

.db {
    color: #111523;
}


/*background*/

.bckg {
    background-color: white;
}

.bcYw {
    background-color: #9999A1;
}


/*img*/

.borderBg {
    border: 8px solid #9999A1;
}

.borderBg4 {
    border: 4px solid #9999A1;
}

.borderRed {
    border: 8px solid #AD3D2B;
}

.borderRed4 {
    border: 4px solid #AD3D2B;
}

.borderYw {
    border: 8px solid #E3B668;
}

.borderBl {
    border: 8px solid #111523;
}

.borderWh {
    border: 8px solid  #F4F3F3;
}

img.smed {
    width: 350px;
    height: 350px;
}

img.sml {
    width: 150px;
    height: 150px;
}

img.ssml {
    width: 50px;
    height: 50px;;
}

img.ssmed {
    width: 200px;
    height: 200px;
}

.hCar{
    height: 570px;
    width: 1150px !important;
    margin-left: auto;
    margin-right: auto;
    max-height:570px ;
}

img.Hpq {
    transition:transform 0.25s ease;
}

img.Hpq:hover {
    -webkit-transform:scale(1.2); 
    transform:scale(1.2);
}

img.Hspq {
    transition:transform 0.25s ease;
}

img.Hspq:hover {
    -webkit-transform:scale(1.1); 
    transform:scale(1.1);
}

img.Hmas {
    transition:transform 0.25s ease;
}

img.Hmas:hover {
    -webkit-transform:scale(1.5); 
    transform:scale(1.5);
}


/*Forms*/

input[type=text] {
    outline: none !important;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #bf999c;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: #fafafa;
}

textarea[type=text] {
    outline: none !important;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #bf999c;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: #fafafa;
}


input[type=text]:focus {
    /* border: 3px solid #AD3D2B !important; */
    background-color: #fafafa;
    outline: 0 !important;
}

#bt {
    background-color: #fafafa;
    color: black;
    border: 3px solid #E3B668;
}

#bt:hover {
    background-color: #E3B668;
    color: #fafafa;
}

#sticky-footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

.newsletter {
    width: 80%;
}